<nav>
    <ul>
        <li><a href="/catalog">Home</a></li>
        <li><a href="/catalog/family">Families</a></li>
        <li><a href="/catalog/genus">Genus</a></li>
        <li><a href="/catalog/species">Species</a></li>
        <li><a href="/catalog/speciesinstances">Animals in zoo</a></li>
    </ul>
</nav>